ion-content {
    --ion-background-color: rgb(16, 95, 23);
  }
  
  ion-searchbar {
    margin-bottom: 10px;
  }
  
  .card-header {
    background-size: cover;
    background-position: center;
  }
  