<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>


<div class="ion-text-center cuerpo_page"> 


  <!-- ion-card muestra una presentacion de estilo tarjeta-->
  <ion-card>
    <ion-card-title>
      <h3>Bienvenidos</h3>
    </ion-card-title>

    <!--Imagen logo-->
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img class="logo" src="assets/user.png" alt="user">
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" maxlength="8" minlength="3" [(ngModel)]="Usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" maxlength="4" minlength="3"  [(ngModel)]="password"></ion-input>
      </ion-item>

      

    </ion-card-content>
      <!--"expand/block"  hace que el boton de ingresar ocupe todo el ancho de la pantalla-->
      
      <ion-button class="ingrese" expand="block" (click)="login()">Ingrese ahora</ion-button>
      <ion-button  class="NuevoUsuario" expand="block" (click)="mostrarFormulario()">Nuevo usuario</ion-button>


  </ion-card>



</div>



